<!DOCTYPE html>
<html>
  <head>
    <title>credits</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Acredits</h1>
    <p>Andrés Jiménez y Javier Antón</p>
    <img src="https://lamenteesmaravillosa.com/wp-content/uploads/2015/08/shutterstock_254849722.jpg">
  </body>
</html>
